<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330560011175-39au9c0vfg4l6ejgkvb0ph5i0fhgrtjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330560011175-39au9c0vfg4l6ejgkvb0ph5i0fhgrtjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDo9oIOp8dPaUE9RFUFWJ1unbgaYg-a30Q</string>
	<key>GCM_SENDER_ID</key>
	<string>330560011175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Muzaffar-Sharapov.Evolution</string>
	<key>PROJECT_ID</key>
	<string>evolution-74325</string>
	<key>STORAGE_BUCKET</key>
	<string>evolution-74325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330560011175:ios:b4ff8678853c79e3715482</string>
	<key>DATABASE_URL</key>
	<string>https://evolution-74325.firebaseio.com</string>
</dict>
</plist>